# Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment
venv/
env/

# IDE or editor-specific files
.vscode/
.idea/

# Jupyter Notebooks checkpoints
.ipynb_checkpoints

# Distribution/packaging
*.egg
*.egg-info/
dist/
build/
*.whl

# PyInstaller
*.manifest
*.spec

# macOS system files
.DS_Store

# Windows system files
Thumbs.db
